{% extends "base.html" %}
{% load static %}
{% block title %}{{game.name}}{% endblock %}
{% block content %}
<section class="section d-flex flex-column align-items-center justify-content-center geocaching-section">
    <div class="container custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 d-flex flex-column align-items-center justify-content-center">
                <h3 class="title-section">{{game.name}}</h3>
                {% include "messages.html" %}
                <div class="col-12">
                    <a href="/my-games" class="btn btn-danger me-2"><i class="bi bi-arrow-left"></i> Back</a>
                    <a href = "/my-games/{{game.id}}/new-cache" class="btn btn-success"><i class="bi bi-plus-circle"></i> New Cache</a>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-lg-8">
                            {{map | safe}}
                        </div>
                        <div class="col-lg-4">
                            <h5 class="text-center fw-bold">Results</h5>
                            <div class="table-responsive w-100">
                                <table class="align-middle mb-0 table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Player</th>
                                            <th class="text-center">Caches</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        {% for p in partidas %}
                                        <tr>
                                            <td class="text-center">{{p.player}}</td>
                                            <td class="text-center">{{p.found_caches}}</td>
                                            <td class="text-center"><a class="btn btn-primary btn-sm fw-bold" href="/my-games/{{game.id}}/result/{{p.id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Check result"><i class="bi bi-eye"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}