{% extends "base.html" %}
{% load static %}
{% block title %}Geocaching Project{% endblock %}
{% block content %}
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/assets/geocaching-fondo.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">PaaS Project<br><span>Geocaching</span></h2>
              <p class="animate__animated animate__fadeInUp">Have fun playing with us, join some active game, try to get all tips  and win the game. Good luck</p>
              <a href="/games" class="btn-get-started animate__animated animate__fadeInUp scrollto">Start Playing</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

<section id="featured-services" class="featured-services section-bg">
    <div class="container">

      <div class="row no-gutters">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-person-circle"></i></div>
            <h4 class="title"><a href="">Join us, create an account</a></h4>
            <p class="description">Create an account to join different games and play with or against other players</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-binoculars-fill"></i></div>
            <h4 class="title"><a href="">Follow the tips to discover caches</a></h4>
            <p class="description">With the tips you get try to discover new caches and win the game</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-pin-map-fill"></i></div>
            <h4 class="title"><a href="">Share your experience</a></h4>
            <p class="description">When you found a cache, register it in the app and left it back for other players</p>
          </div>
        </div>
      </div>

    </div>
  </section>

<section id="services" class="services">
    <div class="container">

        <div class="section-title">
        <h2>Services</h2>
        <p>We made a geocaching app, where you can play with other players in Málaga. If any person want to play you only have to follow this steps</p>
        </div>

        <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
            <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class="bx bx-navigation"></i>
            </div>
            <h4><a href="">Play</a></h4>
            <p>You can play a game by follow it in the game list or if you want you can make new games</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
            <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                </svg>
                <i class="bx bx-search-alt"></i>
            </div>
            <h4><a href="">Found</a></h4>
            <p>Search the cache with the tip you found or we give to you. When you found the cache you have to register it in the app and left the cache back for other players can discover it</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
            <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
                <i class="bx bx-crown"></i>
            </div>
            <h4><a href="">Win</a></h4>
            <p>If you found all the caches and register it an administrator will verify it and make you the winner of the game.  Congratulations you win !!</p>
            </div>
        </div>

        </div>

    </div>
    </section>

<section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Meet our Team</h2>
        <p>We are a university team trying to make a great game, every one of us contributes in the development of the game. <br>If you experiece any troble playing let us know,
          we will try to fix it as soon we can, thanks you </p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex">
          <div class="member">
            <img src="{% static 'assets/antonio.jpg' %}" alt="Antonio">
            <h4>Antonio Lara Gutiérrez</h4>
            <div class="social">
              <a href="https://www.linkedin.com/in/antonio-lara-gutierrez/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
            <div class="member">
              <img src="{% static 'assets/antonio_jose.jpeg' %}" alt="Antonio">
              <h4>Antonio José Martín Vargas</h4>
              <div class="social">
                <a href="https://www.linkedin.com/in/antonio-jos%C3%A9-martin-vargas/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <div class="member">
            <img src="{% static 'assets/laura.png' %}" alt="">
            <h4>Laura Fiorella</h4>
            <div class="social">
              <a href="https://www.linkedin.com/in/laura-fiorella"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex">
          <div class="member">
            <img src="{% static 'assets/patxi.jpg' %}" alt="">
            <h4>Patxi Juaristi Pagegi</h4>
            <div class="social">
              <a href="https://www.linkedin.com/in/patxi-juaristi-pagegi/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
{% endblock %}