{% extends "base.html" %}
{% load static %}
{% block title %}Geocaching login{% endblock %}
{% load socialaccount %}
{% block content %}
<section class="section d-flex flex-column align-items-center justify-content-center login-signup">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Log In to Your Account</h5>
                            <p class="text-center small">Enter your email & password to login</p>
                        </div>
                        {% for msg in messages %}
                        <div class="alert alert-danger" role="alert">{{msg}}</div>
                        {% endfor %}
                        <form method="POST" class="row g-3">
                            {% csrf_token %}
                            <div class="col-12">
                                <label class="form-label">Email</label>
                                <div class="input-group">
                                    <span class="input-group-text">📧</span>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Password</label>
                                <div class="input-group">
                                    <span class="input-group-text">🔑</span>
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <button id="login-btn" class="btn btn-primary w-100 font-weight-bold" type="submit">Log
                                    In</button>
                            </div>
                            <div class="col-12 mt-4">
                                <button class="btn btn-primary w-100 font-weight-bold">
                                    <a id="google_login" href="{% provider_login_url 'google'%}?next=/">
                                        <i class="fa-brands fa-google"></i>
                                        Login with Google
                                    </a>
                                </button>
                            </div>
                        </form>

                        <div class="col-12 mt-4">
                            <p class="small mb-1">Don't have an account? <a id="create-account-btn"
                                    href="{% url 'signup' %}">Create an account</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}